/* Calendar week, day label */
GtkCalendar.highlight 
{
	background-color: #398ee7;
	color: white;
	font-weight: bold;
}

/* Calendar content*/
GtkCalendar.view
{
	/*background-color: $selected_bg_color;*/
}

/* Day selected */
GtkCalendar:selected
{
	/*background-color: $selected_bg_color;*/
}


/* Month and year */
GtkCalendar.header
{
	/*color: $selected_fg_color;*/
}