# Boot Menu
set timeout=10

#source /boot/grub/config.cfg

# Live boot
menuentry "CUST-LIVE-DEB (amd64)" --hotkey=c {
    linux   /live/vmlinuz boot=live toram persistence
    initrd  /live/initrd
}

menuentry "Cust-Live-Deb (amd64 failsafe)" --hotkey=f {
    linux   /live/vmlinuz boot=live persistence config memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal
    initrd  /live/initrd
}