# Boot Menu
set timeout=10

menuentry "Cust-Live-Deb (amd64)" {
    set gfxpayload=keep
    linux /live/vmlinuz boot=live toram persistence
    initrd /live/initrd
}

menuentry "Cust-Live-Deb (amd64 failsafe)" {
    set gfxpayload=keep
    linux /live/vmlinuz boot=live persistence config memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal
    initrd /live/initrd
}
