[Desktop Entry]
Version=1.0
Name=Xuan
Type=Application
Exec=SciTE %F
Icon=Sci48M
Terminal=false
StartupNotify=true
Categories=Accessories;
Keywords=Text;Editor;
MimeType=text/plain;
