/* Code */
pre, code
{
  background-color: #CCCCCC; /* Light grey. */
}


/* CSS one-pixel table border */
    table {
      background-color:#FFF;
      border-collapse:collapse;
    }
 
    /* and of course a default one */
    td, th {
      border: 1px solid black;
      padding: 5px;
    }
 
    th{ background-color: gray; }