[Unit]
Description=CLD: Systemd Start/Stop service.

[Service]
Type=simple
ExecStart=/usr/local/cld/systemd/cld-systemd-after-boot.sh
ExecStop=/usr/local/cld/systemd/cld-systemd-before-shutdown-halt-reboot.sh

[Install]
WantedBy=multi-user.target