label cust-live-deb-amd64
    menu label Cust-Live-Deb (amd64)
    menu default
    linux /live/vmlinuz
    append initrd=/live/initrd boot=live toram persistence

label cust-live-deb-amd64-failsafe
    menu label Cust-Live-Deb (amd64 failsafe)
    linux /live/vmlinuz
    append initrd=/live/initrd boot=live persistence config memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal
